/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1115px) {
    .ex-block:nth-child(3){
        margin-top: 50px;
    }
    .ex-block-wraper{
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .name-avatar-wraper{
        width: 25%;
    }
    .plan-box{
        margin-top: 50px;
    }
    .plans-wraper{
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .block{
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 50px 0 50px 0;        
    }
    .section3-bg{
        width: 100%;
    }
    .edge{
        height: 100%;
        height: 2px;
        background-color: white;
    }
    .wraper1{
        padding-top: 50px;
    }
    .wraper2{
        padding-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .social-icons-wraper{
        margin-top: 30px;
    }
}

@media (max-width: 1067px) {
    .wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .text-wraper{
        max-width: 550px;
        width: 100%;
        margin-top: 50px;
        padding: 0;
    }
    .input{
        padding: 0 10px 0 10px;
    }
    .input::-webkit-input-placeholder{
        font-size: 10px;
    }
    .input::-moz-placeholder{
        font-size: 10px;
    }
    .input:-ms-input-placeholder{
        font-size: 10px;
    }
    .input::-ms-input-placeholder{
        font-size: 10px;
    }
    .input::placeholder{
        font-size: 10px;
    }
}

/* burger */
@media (max-width: 1060px) {
    .navigation{
        display: none;
    }
    .burger{
        display: block;
    }
    .logo{
        position: absolute;
        top: 20px;
        right: 30px;
    }
    .header.activeNav{
        width: 220px;
        height: 390px;
        background-color: rgb(34, 34, 34);
        -webkit-box-shadow: 2px 2px 5px rgb(0, 0, 0);
                box-shadow: 2px 2px 5px rgb(0, 0, 0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        top: 0;
        left: -40px;
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .header-wraper.activeWrap{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
    }
    .navigation.avtiveNavSign{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
    }
    .logo.activeLogo{
        top: 70px;
    }
    .nav-ul{
        width: 100%;
        height: 200px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        text-align: start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        line-height: 30px;
        text-align: center;
        margin-left: 45px;
        margin-top: 40px;
    }
    .header{
        padding: 20px 0 20px 0;
    }
    .sign-in{
        margin-left: 45px;
        margin-top: 20px;
    }
}

@media (max-width: 960px) {
    .plan-box-wraper{
        max-width: 410px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .input{
        padding: 0 20px 0 20px;
    }
    .input::-webkit-input-placeholder{
        font-size: 12px;
    }
    .input::-moz-placeholder{
        font-size: 12px;
    }
    .input:-ms-input-placeholder{
        font-size: 12px;
    }
    .input::-ms-input-placeholder{
        font-size: 12px;
    }
    .input::placeholder{
        font-size: 12px;
    }
    .input-wraper{
        width: 90%;
    }
    .registration-img-container{
        display: none;
    }
    .form-box{
        width: 100%;
    }
    .wraper1{
        padding-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .contact-inf{
        margin-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media (max-width: 940px) {
    .arrow-wraper{
        width: 90%;
    }
}

@media (max-width: 919px) {
    .name-avatar-wraper{
        width: 33%;
    }
}

@media (max-width: 840px) {
    .arrow-wraper{
        width: 100%;
    }
    .ex-block:nth-child(2){
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .text-box:nth-child(2){
        margin-top: 50px;
    }
}

@media (max-width: 700px) {
    .name-avatar-wraper{
        width: 50%;
    }
}

@media (max-width: 600px) {
    .bg-image-slider{
        height: 300px;
    }
    .slider-img-title{
        font-size: 25px;
    }
    .dots-wraper{
        top: 320px;
    }
}

@media (max-width: 525px) {
    .all-input-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .text-box{
        padding: 0 5% 0 5%;
    }
}

@media (max-width: 468px) {
    .name-avatar-wraper{
        width: 100%;
    }
}

@media (max-width: 456px) {
    .hr-classes{
        width: 200px;
    }
}

@media (max-width: 455px) {
    .hr-membership{
        width: 245px;
    }
}

@media (max-width: 430px) {
    .ex-block{
        width: 240px;
        height: 255px;
    }
    .info-box{
        width: 70%;
        height: 70px;
        bottom: 5%;
    }
    .sec4-h3{
        font-size: 20px;
    }
    .sec4-text{
        font-size: 13px;
    }
    .box-text{
        font-size: 11px;
    }
}

@media (max-width: 377px) {
    .hr-team{
        width: 185px;
    }
}

@media (max-width: 399px) {
    .hr-trainers{
        width: 185px;
    }
}