/* Header */
.header-wraper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}
.header{
    width: 100%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: background-color 1s ease;
}
.scroll{
    background-color: rgb(34, 34, 34);
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-ul{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.nav-li{
    position: relative;
}
.active{
    color: rgb(255, 72, 40);
    font-weight: bold;
}
.nav-li:after{
    content: " ";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 72, 40);
}
.nav-li:hover:after{
    width: 100%;
    color: rgb(255, 72, 40);
    transition: all 0.5s ease-out;
}
.sign-in{
    width: 100px;
    height: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color:rgb(255, 72, 40);
    border-width: 2px;
    cursor: pointer;
}
.sign-in:hover{
    background-color: rgb(255, 72, 40);
    transition: all 0.5s ease-in;
}

/* burger */
.burger{
    position: absolute;
    top: 10px;
    left: 7.5%;
    width: 35px;
    height: 40px;
    cursor: pointer;
    display: none;
}
.line{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    transition: all 0.2s linear;
}

.line:nth-child(1){
    top: 20%;
}
.line:nth-child(3){
    top: 80%;
}
.active-burger{
    top: 10px;
    left: 115px;
}
.active-burger .line:nth-child(1){
    top:50%;
    transform: rotate(45deg);
}
.active-burger .line:nth-child(3){
    top:50%;
    transform: rotate(-45deg);
}
.active-burger .line:nth-child(2){
    display: none;
}

/* home */
.home-bg{
    background-image: url(../images/header-background.jpg);
    width: 100%;
    height: 657px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-wraper{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.title-wraper{
    max-width: 540px;
    width: 100%;
    margin-top: 200px;
    color: white;
}
.main-title{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.main-text{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 85, 55);
    margin-top: 20px;
    letter-spacing: 3px;
}
.text{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
.sign-up-today{
    width: 190px;
    height: 50px;
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    margin-top: 60px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
.sign-up-today:hover{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

/* about us */
.wraper{
    width: 85%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: space-between;
}
.video-wraper{
    max-width: 550px;
    width: 100%;
    position: relative;
}
.img-sec2{
    width: 100%;
}
.logo-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-wraper:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.text-wraper{
    max-width: 470px;
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.grey{
    color: rgb(100, 100, 100);
}
.read-more{
    width: 110px;
    height: 40px;
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    cursor: pointer;
}

/* BMI */
.bg-bmi{
    background-image: url("../images/bmi-g.jpg");
    width: 100%;
    height: 657px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.calculator-container{
    width: 85%;
    margin: 0 auto;
    padding: 70px 0 100px 0;
    text-align: center;
}
.wraper-calculator{
    height: 200px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.h3-bmi{
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgb(255, 72, 40);
}
.bmi-input{
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 0 20px 0 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(231, 231, 231);
    background-color: transparent;
}
.bmi-input:focus{
    outline: none;
}
.calculate{
    width: 100px;
    height: 40px;
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    border-style: none;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
.calculate:hover{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

/* slider - classes */
.wraper-sec3{
    width: 85%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}
.center{
    text-align: center;
}
.hr-classes{
    width: 380px;
    height: 4px;
    background-color: black;
}
.slider-wraper{
    margin-top: 50px;
    position: relative;
}
.arrow-wraper{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.arrow{
    border-style: hidden;
    background-color: transparent;
}
.fa-chevron-left{
    font-size: 30px;
    font-size: 30px;
    color: grey;
    cursor: pointer;
}
.fa-chevron-right{
    font-size: 30px;
    font-size: 30px;
    color: grey;
    cursor: pointer;
}
.slider-content{
    position: relative;
}
.slide{
    max-width: 700px;
    width: 100%;
    margin: auto;
    animation: slide 5s infinite;
    cursor: pointer;
}
@keyframes slide{
    0% {
        opacity: 0;
        transform: translateX(-8%);
    }
    20% {
        opacity: 1;
        transform: translateX(0px);
    }
    80% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(8%);
    }
}
.bg-image-slider{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slider-img-title{
    width: 100%;
    height: 10%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
}
.dots-wraper{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 520px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}
.active-dot{
    background-color: rgb(255, 72, 40);
    animation: fade;
}

/* trainers */
.trainers{
    background-color: rgb(245, 245, 245);
}
.sec3-wraper{
    width: 85%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}
.hr-trainers{
    width: 340px;
    background-color: black;
    height: 4px;
}
.center{
    text-align: center;
}
.ex-block-wraper{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ex-block{
    width: 350px;
    height: 370px;
    position: relative;
    padding: 0 20px 0 20px;
}
.image-ex-block{
    width: 100%;
}
.info-box{
    width: 80%;
    height: 100px;
    background-color: white;
    padding: 20px 0 20px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(175, 174, 174);
    transition: height 0.5s;
    cursor: pointer;
}
.info-box:hover{
    height: 220px;
}
.sec4-h3{
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}
.sec4-text{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 72, 40);
    margin-top: 10px;
}
.box-text{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: rgb(82, 82, 82);
    display: none;
}
.info-box:hover .box-text{
    display: block;
    background-color: white;
}
.icon-wraper{
    width: 150px;
    margin-top: 15px;
    display: none;
}
.box-icon{
    color: black;
}
.i-trainers:hover{
    color: rgb(255, 72, 40);
}
.info-box:hover .icon-wraper{
    display: block;
    display: flex;
    justify-content: space-between;
}

/* fetch - team */
.team{
    background-color: rgb(19, 19, 19);
}
.wraper-team{
    width: 85%;
    margin: 0 auto;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hr-team{
    width: 320px;
    height: 3px;
    background-color: white;
}
#post-wraper{
    display: flex;
    flex-wrap: wrap;
}
.name-avatar-wraper{
    padding: 0 35px 0 35px;
    display: flex;
    justify-content: space-around;
}
.user-name{
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(255, 60, 0);
    text-align: center;
}
.avatar{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 100px;
    cursor: pointer;
}
#loadmore{
    width: 120px;
    height: 40px;
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    margin-top: 50px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    border-style: hidden;
    letter-spacing: 1px;
    cursor: pointer;
}
#loadmore:hover{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

/* membership plans*/
.membership{
    background-color: rgb(250, 250, 250);
}
.wraper5{
    width: 85%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}
.hr-membership{
    width: 380px;
    background-color: black;
    height: 4px;
}
.plans-wraper{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.plan-box{
    width: 360px;
    height: 600px;
    background-color: white;
    box-shadow: 5px 5px 30px rgb(201, 201, 201);
}
.orange-head{
    height: 80px;
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-content{
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.span{
    margin-bottom: 20px;
}
.big-text{
    font-size: 40px;
    font-family: "poppins";
    font-weight: 900;
    color: rgb(238, 38, 2);
}
.bold{
    font-weight: bold;
}
.start-now{
    width: 160px;
    height: 45px;
    margin: 30px 0 20px 0;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    border-style: solid;
    border-radius: 0;
    border-width: 2px;
    border-color: rgb(255, 72, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.start-now:hover{
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    border-style: none;
    color: white;
}

/* form */
.form{
    background-color: rgb(245, 245, 245);
    padding: 100px 0 100px 0;
}
.form-wraper{
    width: 85%;
    margin: 0 auto;
    background-color: white;
    display: flex;
}
.form-box{
    padding-top: 30px;
    width: 66%;
}
.padding{
    padding: 0 10px 0 10px;
}
#form{
    margin-top: 30px;
}
.all-input-wraper{
    display: flex;
    justify-content: space-around;
}
.input-wraper{
    max-width: 340px;
    width: 45%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.label{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: grey;
}
.input{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: grey;
    padding: 0 20px 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
}
.relative{
    position: relative;
}
.fa-eye{
    color: grey;
    position: absolute;
    left: 87%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.fa-eye-slash{
    color: grey;
    position: absolute;
    left: 87%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    color: rgb(201, 200, 200);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}
.button-form{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    height: 45px;
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
    border-style: none;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
.button-form:hover{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 72, 40);
    color: rgb(48, 48, 48);
    background-image: none;
    background-color: white;
}
.error{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: red;
}


/* section 9 */
.flex{
    display: flex;
}
.section3-bg{
    background-image: url(../images/barbell.jpg);
    width: 50%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block{
    width: 25%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-box{
    padding: 0 70px 0 70px;
}
.icon{
    margin-bottom: 30px;
    width:50px;
}
.title-h3{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}
.light-grey{
    color: rgb(182, 182, 182);
}

/* footer */
footer{
    background-color: rgb(20, 20, 20);
}
.wraper-footer{
    width: 85%;
    margin: 0 auto;
}
.wraper1{
    padding: 100px 0 30px 0;
    display: flex;
    justify-content: space-between;
}
.footer-bg{
    background-image: url(../images/footer-banner.jpg);
    width: 100%;
    height: 130px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wraper2{
    padding: 30px 0 60px 0;
    display: flex;
    justify-content: space-between;
}
.footer-h3{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 72, 40);
    margin-bottom: 10px;
}
.white{
    color: white;
}
.colorlib:hover{
    color: rgb(255, 72, 40);
}
a.text:hover{
    color:  rgb(255, 72, 40);
}
.social-icons-wraper{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.soc-i-circle{
    width: 40px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc-i-circle:hover{
    background-image: linear-gradient(90deg, rgb(230, 32, 75), rgb(255, 113, 31));
}
.fa-brands-footer{
    font-size: 20px;
}